<?xml version="1.0" ?>
<model>
    <name>Puzzlebot_Camera_Sensor</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Sergio Munoz</name>
        <email></email>
    </author>
    <description>Puzzlebot with camera and LiDAR sensors</description>
</model>
